<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>헤더</title>
        <link rel="stylesheet"  href="header.css">
    </head>
    <body>
        <div class="container">
            <div class="logo_container">
                <img class="logo_img" src="" alt="로고">
            </div>
            
            <div class="login_container">
                <!-- 미 로그인 시 -->
                <button class="login_btn">로그인</button>
                <!-- 로그인 시 -->
                <button>1:1채팅</button>
                <img class="profile_img" src="" alt="프로필 사진">
            </div>

            <div class="search_container">
                <input type="text">
                <button class="search_btn">검색</button>
            </div>
        </div>
 
    </body>
</html