<html>
    <head>
        <title>Main page</title>
        <link href="loginstyle.css" rel="stylesheet">
    </head>
    <!-- 브랜치만들기위한 주석 -->
    <body>
        <main id="main-holder">
          <h1 id="login-header">로고</h1>
          <div id="login-error-msg-holder">
            <p id="login-error-msg">잘못된 아이디 <span id="error-msg-second-line">비밀번호 입니다.</span></p>
          </div>
          <form id="login-form">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="ID(이메일)">
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="PW">
            <input type="submit" value="Login" id="login-form-submit">
            <input type="submit" value="카카오" id="kakao-form-submit">
            <input type="submit" value="네이버" id="naver-form-submit">
            <input type="submit" value="회원가입" id="join-form-submit"><br>
            <input type="submit" value="아이디찾기" id="findid-form-submit">
            <input type="submit" value="비밀번호찾기" id="findpw-form-submit">
          </form>
        </main>
      </body>
</html>