<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="payment.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div id="payment_wrapper">
            <form id="payment_form">
                <h1>상품 결제</h1>
                <div id="payment_product">
                    상품 정보
                    리뷰 페이지에서 가져오면 됨
                </div>
                <div id="payment_user_name">
                    <p>수령자 이름 *</p>
                    <input type="text" placeholder="이름">
                </div>
                <div id="payment_phone">
                    <p>전화번호 *</p>
                    <input type="text" placeholder="전화번호">
                </div>
                <div id="payment_deliv">
                    <p>배송지 *</p>
                    <input type="text" placeholder="주소" id="payment_address1">
                    <input type="button" value="우편번호" id="payment_address_btn">
                    <input type="text" placeholder="상세 주소" id="payment_address2">
                </div>
                <div id="payment_request">
                    <p>배송 시 요청사항</p>
                    <textarea placeholder="배송 요청사항을 입력해주세요"></textarea>
                </div>
                <div id="payment_submit">
                    <a href="">취소</a>
                    <input type="submit" value="결제" id="payment_pay_btn">
                </div>
            </form>
        </div>
    </div>
</body>
</html>