<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="review.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="review_wrapper">
            <h1>리뷰 작성</h1>
            <div class="review_product_name">
                <img src="" class="review_product_img">
                <h2>상품명</h2>
                <div class="review_user">
                <img src="" class="review_user_img">
                <span class="review_user_nick">판매자 닉네임</span>
                </div>
            </div>
            <p>리뷰 평가</p>
            <div class="review_rating">
                <button><img src="../assets/smile.png"></button>
                <button><img src="../assets/normal.png"></button>
                <button><img src="../assets/bad.png"></button>
            </div>
            <form>
                <textarea></textarea>
                <input type="submit" value="확인">
                <input type="button" value="취소">
            </form>
        </div>
    </div>
</body>
</html>