<!DOCTYPE html>
<html lang="ko">

<head>
    <title>회원가입 페이지</title>

    <link href="signup.css" rel="stylesheet" />
    <script src="signup.js"></script>

</head>

<body>
    <div>
   
    </div>
    <div class="wrapper">
        <div class="title"><h1 style="font-size: 21px;">회원가입</h1>
        </div>
        <div id="box1">
        <div class="id">
          <input id="id"  type="text" placeholder="id를 입력해 주세요.">
          <button>중복확인</button>
          <div id="idError" class="error"></div>
      </div>
      <div class="id">
        <input id="id"  type="text" placeholder="id를 입력해 주세요.">
        <div id="idError" class="error"></div>
    </div>
        <div class="password">
            <input id="password" type="password" placeholder="비밀번호를 입력해 주세요.">
            <div id="passwordError" class="error"></div>
        </div>
        <div class="passwordCheck">
            <input id="passwordCheck" type="password" placeholder="비밀번호를 다시 입력해 주세요.">
            <div id="passwordCheckError" class="error"></div>
        </div>
        <div class="nickName">
          <input id="nickName" type="text" placeholder="닉네임을 입력해 주세요.">
          <div id="nickNameError" class="error"></div>
      </div>
        <div class="email">
          <input id="email" type="text" placeholder="이메일을 입력해 주세요.">
          <button>중복확인</button>
          <div id="emailError" class="error"></div>
      </div>
        <div class="phone">
          <input id="phone" type="text" placeholder="전화번호를 입력해 주세요." maxlength="11"> 
          <button>인증</button>
          <div id="phoneError" class="error"></div>
        </div>
        <div class="address">
          <input id="address" type="text" placeholder="주소를 입력해 주세요."> 
          <button id="signUpButton" disabled onclick="signUpCheck()">주소찾기</button>
          <div id="addressError" class="error"></div>
        </div>  
        <div class="addressDetail">
          <input id="addressDetail" type="text" placeholder="상세주소를 입력해 주세요."> 
          <div id="addressDetailError" class="error"></div>
        </div>
        <div class="profile-upload-content upload-img">
          <div class="img-preview">
            <img
              id="img-preview"
              src=""
              style="display: none"
              width="250"
              alt="미리보기"
            />
            <input id="img-url" type="hidden" name="url" />
          </div>
        </div>
      </div>

        <div id="box2">
        <div class="profile-img">
          <input id="profile-img" type="text" placeholder="이미지"> 
          <br>
          <br>
          <button class="imgButton">사진등록</button>

        </div>
        </div>
        </div>
        <div id="box3">
        <div class="signUp">
          <button class="cancelButton" >취소하기</button>
          <button class="signUpButton">가입하기</button>
        </div>
        </div>
    </div>
</body>
</html>
          
<!-- <input id="img" type="file" accept="image/*" style="display: none" /> -->
