<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="store_upload.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div id="store_upload_wrapper">
            <form>
                <div id="store_product_img">
                    <p>상품 이미지(0/5)</p>
                    <div><img src=""><button class="store_img_del">x</div>
                    <div><img src=""><button class="store_img_del">x</div>
                    <div><img src=""><button class="store_img_del">x</div>
                    <div><img src=""><button class="store_img_del">x</div>
                    <div><img src=""><button class="store_img_del">x</div>
                </div>
            <div id="store_product_name">
                    <p>상품명</p>
                    <input type="text" placeholder="상품명을 입력해주세요.">
                </div>
                <div id="store_product_category1">
                    <p>카테고리1</p>
                    <select>
                        <option>의류</option>
                        <option>뷰티</option>
                        <option>생활/가전</option>
                        <option>취미</option>
                        <option>기타</option>
                    </select>
                </div>
                <div id="store_product_category2">
                    <p>카테고리2</p>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option> <!-- 뷰로 카테고리1 선택된 카테고리마다 옵션이 바뀌어야함-->
                    </select>
                </div>
                <div id="store_price_trade">
                    <div>
                        <p>시작가</p>
                        <input type="text" placeholder="경매 시작가를 입력해주세요.">
                    </div>
                    <div>
                    <p>거래유형</p>
                        <select>
                            <option>택배거래</option>
                            <option>직거래</option>
                        </select>
                    </div>
                </div>
                <div id="store_timer_deliv">
                    <div>
                        <p>마감 시간</p>
                        <select>
                            <option>1일</option>
                            <option>2일</option>
                            <option>3일</option>
                            <option>4일</option>
                        </select>
                    </div>
                    <div>
                        <p>택배 비용</p>
                        <input type="text" placeholder="택배 비용">
                    </div>
                </div>
                <div id="store_product_content">
                    <p>설명</p>
                    <textarea placeholder="상품 설명을 입력해주세요. (최소 10글자)"></textarea>
                </div>
                <div id="store_submit">
                    <input type="button" value="취소">
                    <input type="submit" value="상품 등록">
                </div>
            </form>
        </div>

        </div>
    </div>
</body>
</html>