* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100%;
}


/* -------------------- */

.left_navbar li {
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.left_navbar li:first-child {
    margin-top: 0px;
}
.left_navbar li a {
    text-decoration:none;
    color: black;
}

.mypage_leftnavbar_lapper {
    width: 20%;
    height: 100%;
    padding: 0%;
    border-right: 2px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    border: 1px solid black;
}

.mypage_content_lapper {
    width: 80%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: gray;
    border: 1px solid black;
}
.mypage_content {
    vertical-align: middle;
}
.mypage_main_container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    background-color: white;
}
