* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.box1{
    width: 850px;
    height: 800px;
    border: 1px solid black;
    margin-left: 20px;
    background-color:	#E2E2E2;
}


.title {
    font-weight: 700;

}
#box2 {
    width: 850px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
}
#box3 {
    width: 850px;
    height: 250px;
    border: 1px solid black;
    background-color: white;
}


.price {
    font-weight: bold;
  }

.product-info {
    display: flex;
    align-items: center;
}

.product-info img {
    width: 200px;
    height: 190px;
    margin-right: 20px;
}
.img1 {
    float: right;
}
#searchInput {
    width: 200px; /* 너비 조절 */
    height: 40px; /* 높이 조절 */
    /* 다른 스타일링을 추가하고 싶다면 여기에 작성하세요 */
  }

  #searchInput1 { /* 너비 조절 */
    height: 40px; /* 높이 조절 */
    /* 다른 스타일링을 추가하고 싶다면 여기에 작성하세요 */
  }
  #searchInput2 {
    width: 700px; /* 너비 조절 */
    height: 200px; /* 높이 조절 */
    /* 다른 스타일링을 추가하고 싶다면 여기에 작성하세요 */
  }
  .p{
    font-size: 7px;
  }